// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #4CAF50; /* Green */
    --ion-color-secondary: #FFCC00; /* Yellow */
    --ion-color-tertiary: #FF5722; /* Red */
    --ion-background-color: #d2f8d2; /* Light Green */
    --ion-color-button-default: #FFCC00; /* Yellow button */
    --ion-color-button-text: #fff; /* White text for buttons */
    --ion-radio-color-checked: black; /* Black checked radio */
    --ion-radio-color-unchecked: white; /* White unchecked radio */
  }